:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffee00;

    --header-height: 110px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

/* Test */
.grid__column-full {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
}

.grid__column-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.667%
}
.grid__column-2-of-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 20%
}
.grid__column-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.05s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.05s;
    /* border-radius: 5px; */
}

/* Button styles */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    line-height: 1.7rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selecton */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding:0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover .select-input__list {
    display: block;
}
.select-input:hover {
    background-color: #fdfdfd;
}
.select-input__label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(102, 102, 102);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__list::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: -4px;
    width: 100%;
    height: 8px;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 0;
    display: block;
}
.select-input__item:first-child .select-input__link{
    padding-top: 0;
}

.select-input__item:last-child .select-input__link{
    padding-bottom: 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    list-style: none;
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item__icon {

}


/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer_begin {
    margin: 30px 20px 20px 20px;
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item {
    list-style: none;
    margin-bottom: 12px;

}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 2px 0;
    display: block;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer_download-qr {
    width: 84px;
    height: 84px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_download-app-img {
    height: 20px;
    margin-left: 12px;
}

.footer_end {
    background-color: rgb(245, 245, 245);
    padding: 40px 0;
    
}

.footer__notice {
    display: flex;
    margin: 0 auto 40px;
    justify-content: center;
}

.footer__notice-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    padding: 0 25px;
    border-right: 1px solid rgba(0,0,0,.09)
}

.footer__notice-link:last-child {
    border: none;
}

.footer__tick {

}

.footer__tick-img {

}

.footer__company-info {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(0,0,0,.65)
}

.footer-info-name {
    display: block;
    margin: 16px 0;
}

.footer-info {
    display: block;
    margin: 4px 0;

}
